.cart-container {
  height: 400px;
  width: 300px;
  background-color: #fff;
  position: absolute;
  border-radius: 20px;
  margin-top: 20px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 1px solid blue;
  overflow-x: auto;
}

.cart-image {
  height: 100px;
}

.cart-item-wrapper {
  max-height: 300px;
  overflow-x: auto;
  padding: 10px;
}

.bag-button {
  text-decoration: none;
}