.promo-container {
  height: 400px;
  width: 300px;
  background-color: #36383C;
  margin: 60px 10px;
  border-radius: 10px;
  padding: 50px;
}

.img {
  border-radius: 12px;
  box-shadow: -3px 2px 50px 0px rgba(176,170,170,1);
-webkit-box-shadow: -3px 2px 50px 0px rgba(176,170,170,1);
-moz-box-shadow: -3px 2px 50px 0px rgba(176,170,170,1);
  background: #fff;
}