.promo-card-container {
  height: 400px;
  width: 300px;
  background-color: #36383C;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-item-image {
  height: 200px;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  
}
.promo-item-name {
  color: #fff;
}
.promo-item-name:hover {
  color: rgb(94,165,214);
  cursor: pointer;
}


.promo-item-image:hover {
  box-shadow: -3px -1px 29px 1px #D2D2D7;
  -webkit-box-shadow: -3px -1px 29px 1px #D2D2D7;
  -moz-box-shadow: -3px -1px 29px 1px #D2D2D7;
}

.promo-card-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50px;
  right: 40px;
  height: 40px;
  width: 40px;
  background-color: rgb(94,165,214);
  border-radius: 100%;
}

.promo-card-button i {
  color: #fff;
  font-size: 24px;
}
