.item-search-card {
  height: 400px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 50px;
  border: 1px solid #E1E3E4;
  border-top: none;
}

.item-search-card img {
  height: 200px;
}


.search-items-container {
  width: auto;
  background-color: #fff;
  
}

.item-search-header {
  border: 1px solid #E1E3E4;
}

.search-grid-active {
  color: blue;
}
.search-grid:hover {
  color: blue; 
  cursor: pointer;
}
.search-list:hover {
  color: blue;
  cursor: pointer;
}

.item-search-card-list {
  height: 300px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  border: 1px solid #E1E3E4;
  border-top: none;
}

.item-search-card-list img {
  height: 200px;
  width: 200px;
}

.item-search-card-list .list-button {
  width: 200px;
}