
.slider-container {
 position: relative;
 height: 60vh;
 width: 100%;
  
}

.image_wrapper .slide {
 position: absolute;
 z-index: -1;
}


.image_slider {
  height: 600px;
  width: 120em;
  opacity: 0;
}
.image_slider_active {
  height: 600px;
  width: 120em;
  opacity: 1;
  transition: 500ms;
} 

.button_slider {
  position: absolute;
  bottom: -50px;
}



.dot-wrapper {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  border: none;
  background-color: #fff;
  margin: 10px;
}


.active-dot {
  background: radial-gradient(circle, transparent 45%, #fff 35%);
  height: 16px;
  width: 16px;
  background-color: transparent;
  border-radius: 100%;
  cursor: pointer; 
  margin: 10px;
  border: none;
  transition: 500ms;
}




.arrow-wrapper {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
}

.arrow-wrapper i {
  font-size: 3em;
  color: #fff;
  cursor: pointer;
  opacity: 0.4;
}

.arrow-wrapper i:hover {
  font-size: 4em;
  color: #fff;
  cursor: pointer;
  transition: 300ms;
  opacity: 1;
}

